name: Java CI with Maven

on:
  push:
    branches:
      - 'main'
      - 'RELEASE-*'
  pull_request:
    branches:
      - 'main'
      - 'RELEASE-*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 21
        distribution: 'temurin'
        cache: maven
    - name: Build project
      run: mvn -B package --file pom.xml
