name: Java CI with Maven

on:
  push:
    branches:
      - 'main'
      - 'RELEASE-*'
  pull_request:
    branches:
      - 'main'
      - 'RELEASE-*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 21
        distribution: 'temurin'
        cache: maven
    - name: Build project
      run: mvn -B package --file pom.xml
